
<button  (click)="downloadPDF()">Download PDF</button>



  <div class="resume" id="CVcontent" #CVcontent>
    <div class="resume_left">
      <div class="resume_profile">

        <img src="./assets/user.png"  alt="profile_pic">

      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold" style="color:blue">TEST PDF</p>
            <p class="regular" style="color:brown;">DESIGNER</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fa fa-road"></i>
              </div>
              <div class="data">
                21 Sousse, Tunis <br /> Tunis
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-mobile" ></i>
              </div>
              <div class="data">
                +216 4445678
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-envelope-square"></i>
              </div>
            
              <div class="data">
                sss@gmail.com
              </div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_skills">
          <div class="title">
            <p class="bold" style="color:brown">skill's</p>
          </div>
          <ul>
            <li>
              <div class="skill_name">
                HTML
              </div>
              <div class="skill_progress">
                <span style="width: 80%;"></span>
              </div>
              <div class="skill_per">80%</div>
            </li>
            <li>
              <div class="skill_name">
                CSS
              </div>
              <div class="skill_progress">
                <span style="width: 70%;"></span>
              </div>
              <div class="skill_per">70%</div>
            </li>
            <li>
              <div class="skill_name">
                SASS
              </div>
              <div class="skill_progress">
                <span style="width: 90%;"></span>
              </div>
              <div class="skill_per">90%</div>
            </li>
            <li>
              <div class="skill_name">
                JS
              </div>
              <div class="skill_progress">
                <span style="width: 60%;"></span>
              </div>
              <div class="skill_per">60%</div>
            </li>
            <li>
              <div class="skill_name">
                JQUERY
              </div>
              <div class="skill_progress">
                <span style="width: 88%;"></span>
              </div>
              <div class="skill_per">88%</div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_social">
          <div class="title">
            <p class="bold" style="color:brown">Social</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fa fa-facebook-f"></i>
              </div>
              <div class="data" >
                <p class="semi-bold">facebook</p>
                <p>xx@hhh.com</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Twitter</p>
                <p>aa@twitter</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-youtube"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Youtube</p>
                <p>test1@youtube</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fa fa-linkedin"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Linkedin</p>
                <p>tes@linkedin</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_item resume_about">
        <div class="title">
          <p class="bold">About us</p>
        </div>
        <p>xxxxxxxxxx</p>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Work Experience</p>
        </div>
        <ul>
          <li>
            <div class="date">2013 - 2015</div>
            <div class="info">
              <p class="semi-bold">yyyyyy</p>
              <p>aaaaaa</p>
            </div>
          </li>
          <li>
            <div class="date">2015 - 2017</div>
            <div class="info">
              <p class="semi-bold">mmmm</p>
              <p>bbbbb</p>
            </div>
          </li>
          <li>
            <div class="date">2017 - Present</div>
            <div class="info">
              <p class="semi-bold">eeee</p>
              <p>test</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_education">
        <div class="title">
          <p class="bold">Education</p>
        </div>
        <ul>
          <li>
            <div class="date">2010 - 2013</div>
            <div class="info">
              <p class="semi-bold">Web D</p>
              <p>weeeeb</p>
            </div>
          </li>
          <li>
            <div class="date">2000 - 2010</div>
            <div class="info">
              <p class="semi-bold">testtest</p>
              <p>jklh</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_hobby">
        <div class="title">
          <p class="bold">Hobby</p>
        </div>
        <ul>
          <li><i class="fa fa-book" ></i></li>
          <li><i class="fa fa-gamepad"></i></li>
          <li><i class="fa fa-futbol-o" ></i></li>
          <li><i class="fa fa-music"></i></li>
        </ul>
      </div>
    </div>
  </div>

  
